In [1]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the dataset
df = pd.read_csv('50_Startups.csv')

In [3]:
df.head()

         RnD  Administration  Marketing       State     Profit
0  165349.20       136897.80  471784.10    New York  192261.83
1  162597.70       151377.59  443898.53  California  191792.06
2  153441.51       101145.55  407934.54     Florida  191050.39
3  144372.41       118671.85  383199.62    New York  182901.99
4  142107.34        91391.77  366168.42     Florida  166187.94

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RnD             50 non-null     float64
 1   Administration  50 non-null     float64
 2   Marketing       50 non-null     float64
 3   State           50 non-null     object
 4   Profit          50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [5]:
# Data Cleaning
# converting Categorical data to numeric data

#step1 : find the unique values
unique_states = df['State'].unique()

# step2 : replace unique_states with unique numeric values
state_numbers =[1,2,3]
df.replace(unique_states,state_numbers,inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RnD             50 non-null     float64
 1   Administration  50 non-null     float64
 2   Marketing       50 non-null     float64
 3   State           50 non-null     int64
 4   Profit          50 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 2.1 KB

In [7]:
# Correlation
for column in df.columns:
    corr = np.corrcoef(df['Profit'],df[column])
    print(f"Correlation between Profit and {column} = {corr[0,1]}")

Correlation between Profit and RnD = 0.9729004656594832
Correlation between Profit and Administration = 0.20071656826872125
Correlation between Profit and Marketing = 0.7477657217414766
Correlation between Profit and State = 0.04847097181537067
Correlation between Profit and Profit = 1.0

In [8]:

#input variable
x = df.drop(['Profit','State'],axis=1)
#Output Variable
y = df['Profit']

In [12]:
#len(x)
#len(y)

50

In [19]:
#Split the dataset into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.8)

In [18]:
#len(x_train)
#len(y_train)
#len(x_test)
len(y_test)

10

In [21]:
# Train the model
from sklearn.linear_model import LinearRegression

# create a model
model = LinearRegression()

# fit the model (train the model)
model.fit(x_train,y_train)

LinearRegression()